<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
<div class="container">
    <% if(detailsBlogs.length > 0){ %> 
        <% detailsBlogs.map(items => { %>
        <h4> <%= items.title %> </h4>
        <h6> <%= items.snippet %> </h6>
        <p><%= items.body  %> </p>
<div class="row bg-light">
    <a class="delete" data-doc="<%=items._id %>">
    <i class="bi bi-trash3 float-md-start"></i>
    </a>
</div>       
       <% }) %> 
        <% } else{ %> 
       <%- include('./partials/spinners.ejs')  %> 
             <% } %> 
</div>

    <%- include('./partials/footer.ejs') %>
    <script>
        const trashcan = document.querySelector('a.delete');
        console.log(trashcan);
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/blogs/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
        
      </script>
</body>
</html>