<%- include('./partials/head.ejs') %>

  <body>
    <!-- importing partials files from other locations -->
    <%- include('./partials/nav.ejs') %>


    <div class="container my-5 mb-5">
      <% if(blogs.length > 0){ %> <%blogs.forEach(blogs => { %>
   <a href="/blogs/<%= blogs._id  %>">
    <div class="card mx-auto mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
         <img src="https://www.reshot.com/preview-assets/icons/FUECSJZA8W/pen-tool-FUECSJZA8W.svg" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= blogs.title %></h5>
            <p class="card-text"><%= blogs.snippet%></p>
              <small class="text-muted">
               create at: <%=blogs.createdAt.toDateString() %> <i class="bi bi-alarm"></i>
               </small>
          </div>
        </div>
      </div>
    </div>
   </a>
      <% })%> <% } else { %>
        <div class=" mx-auto"><h4 class="text-center">Welcome Starting writing....</h4>
          <a href="/blogs/create">
     <img src="https://www.reshot.com/preview-assets/icons/HYPW9QGTFD/wink-HYPW9QGTFD.svg" class="img-fluid  mx-auto d-block" alt="" style="max-height: 70px;">
           <button class="btn btn-outline-primary mx-auto d-block my-4 shadow-none">create Blog</button>
          </a></div>
      <% } %>
    </div>

  </body>
</html>
